<!-- begin other repos -->
<section class="section portfolio">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="section__head">
          <h2 class="section__title">{{ site.data.settings.other_repos.title }}</h2>
          <div class="portfolio__view">
            <div class="portfolio__toggle">
              <div class="icon">
                <div class="icon-bar"></div>
                <div class="icon-bar"></div>
                <div class="icon-bar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio__gallery animate">
    <div class="container">
      <div class="row">
        {% for repo in site.data.settings.other_repos.gallery %}
        <div class="col col-3 col-d-6 col-t-12">
          <div class="portfolio__item">
            <a href="{% if repo.link %}{{repo.link}}{% else %}{{repo.image}}{% endif %}" class="portfolio__link {% if repo.image_hover %}portfolio__link--hover{% endif %}" {% if repo.video %}aria-label="Video"{% else %}data-glightbox='title: {{repo.title}}; description: {{repo.description}}; descPosition: bottom;'{% endif %}>
              {% if repo.image_hover %}
              <img src="{{repo.image}}" data-src="{{repo.image}}" class="portfolio__image portfolio__image--default lazy" alt="{{repo.title}}">
              <img src="{{repo.image_hover}}" data-src="{{repo.image_hover}}" class="portfolio__image portfolio__image--hover lazy" alt="{{repo.title}} hover">
              {% else %}
              <img src="{{repo.image}}" data-src="{{repo.image}}" class="portfolio__image lazy" alt="{{repo.title}}">
              {% endif %}
            </a>
            <div class="portfolio__content">
              <h3 class="portfolio__title">
                <a href="{{repo.link}}">{{repo.title}}</a>
              </h3>
              <p class="portfolio__description">{{repo.description}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- end other repos -->
