{% if video.drive_file_id %}
<iframe width="{{ include.width | default: '100%' }}" height="{{ include.height | default: '200' }}" src="https://drive.google.com/file/d/{{ video.drive_file_id }}/preview" frameborder="0" allowfullscreen></iframe>
<p><strong><a href="https://drive.google.com/file/d/{{ video.drive_file_id }}/view" target="_blank">📹 {{ video.title }}</a></strong><br>👤 Speaker: {{ video.speaker }}
{% if video.spotify_url %}<br>🎧 <a href="{{ video.spotify_url }}" class="spotify-link" target="_blank">Listen on Spotify</a>{% endif %}</p>
{% else %}
<iframe width="{{ include.width | default: '100%' }}" height="{{ include.height | default: '200' }}" src="{{ video.embed_url }}" frameborder="0" allowfullscreen></iframe>
<p><strong><a href="{{ video.youtube_url }}" target="_blank">📹 {{ video.title }}</a></strong><br>👤 Speaker: {{ video.speaker }}
{% if video.spotify_url %}<br>🎧 <a href="{{ video.spotify_url }}" class="spotify-link" target="_blank">Listen on Spotify</a>{% endif %}</p>
{% endif %}
