/* Hero */
.hero {
  margin: $spacing-xl 0;
  padding: $spacing-xl 0 $spacing-lg;

  @media only screen and (max-width: $desktop) {
    margin: $spacing-lg 0;
    padding: $spacing-lg 0 $spacing-md;
  }
}

.hero__inner {
  .hero__title {
    margin-bottom: $spacing-md;
    font-size: 68px;
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: -2px;
    color: var(--heading-font-color);

    @media only screen and (max-width: 1140px) {
      font-size: 60px;
    }

    @media only screen and (max-width: $desktop) {
      font-size: 50px;
    }

    @media only screen and (max-width: $tablet) {
      margin-bottom: $spacing-md;
      font-size: 40px;
      letter-spacing: -1px;
    }

    @media only screen and (max-width: $mobile) {
      font-size: 32px;
    }
  }

  .hero__description {
    margin-bottom: 0;
    font-size: 22px;
    line-height: 1.6;
    color: var(--text-alt-color);
    max-width: 640px;

    @media only screen and (max-width: $desktop) {
      font-size: 18px;
    }
  }
}
